{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
<div class="container mt-5">
    <h2 class="display-4 text-center mt-4 mb-5">Bienvenue sur votre livre de recettes</h2>
    <div class="row">
        <div class="col-8">
            <h2>Dernières recettes...</h2>
            {% for recipe in recipes %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ recipe.name }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ recipe.numberPeople }} personnes</h6>
                    <p class="card-text">Instructions :<br/>{{ recipe.instruction }}</p>
                    <a href="{{ path('recipe_show', {id: recipe.id}) }}" class="card-link">Voir la recette</a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-4">
            <h2>Derniers aliments...</h2>
            <ul class="list-group">
            {% for food in foods %}
                <a href="{{ path('food_edit', {id: food.id}) }}" class="list-group-item list-group-item-action">{{ food.name }}</a>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
